body {
    font-family: 'Poppins', sans-serif;
    color: #333; 
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


label {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px 0;
    border: none; 
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid #000;
}

/* Espaçamento elementos formulári */
.mb-4 {
    margin-bottom: 20px;
}
